plugins {
  {{#PLUGINS}}
    id '{{.}}'
  {{/PLUGINS}}
}

aws {
  batch {
    jobRole = '{{BATCH_INSTANCE_TASK_ROLE_ARN}}'
    volumes = '/scratch'
  }
  batch {
        cliPath = '/usr/local/bin/aws'
   }
}

params {

  max_fastq_records = 0

  genomes {

    GRCh37_hmf {
      fasta         = 's3://{{S3_BUCKET_NAME}}/{{S3_BUCKET_REFDATA_PREFIX}}/genomes/GRCh37_hmf/Homo_sapiens.GRCh37.GATK.illumina.fasta'
      fai           = 's3://{{S3_BUCKET_NAME}}/{{S3_BUCKET_REFDATA_PREFIX}}/genomes/GRCh37_hmf/samtools_index/1.16/Homo_sapiens.GRCh37.GATK.illumina.fasta.fai'
      dict          = 's3://{{S3_BUCKET_NAME}}/{{S3_BUCKET_REFDATA_PREFIX}}/genomes/GRCh37_hmf/samtools_index/1.16/Homo_sapiens.GRCh37.GATK.illumina.fasta.dict'
      img           = 's3://{{S3_BUCKET_NAME}}/{{S3_BUCKET_REFDATA_PREFIX}}/genomes/GRCh37_hmf/bwa_index_image/0.7.17-r1188/Homo_sapiens.GRCh37.GATK.illumina.fasta.img'
      bwamem2_index = 's3://{{S3_BUCKET_NAME}}/{{S3_BUCKET_REFDATA_PREFIX}}/genomes/GRCh37_hmf/bwa-mem2_index/2.2.1/'
      gridss_index  = 's3://{{S3_BUCKET_NAME}}/{{S3_BUCKET_REFDATA_PREFIX}}/genomes/GRCh37_hmf/gridss_index/2.13.2/'
      star_index    = 's3://{{S3_BUCKET_NAME}}/{{S3_BUCKET_REFDATA_PREFIX}}/genomes/GRCh37_hmf/star_index/gencode_19/2.7.3a/'
    }

    GRCh38_hmf {
      fasta         = 's3://{{S3_BUCKET_NAME}}/{{S3_BUCKET_REFDATA_PREFIX}}/genomes/GRCh38_hmf/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna'
      fai           = 's3://{{S3_BUCKET_NAME}}/{{S3_BUCKET_REFDATA_PREFIX}}/genomes/GRCh38_hmf/samtools_index/1.16/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.fai'
      dict          = 's3://{{S3_BUCKET_NAME}}/{{S3_BUCKET_REFDATA_PREFIX}}/genomes/GRCh38_hmf/samtools_index/1.16/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.dict'
      img           = 's3://{{S3_BUCKET_NAME}}/{{S3_BUCKET_REFDATA_PREFIX}}/genomes/GRCh38_hmf/bwa_index_image/0.7.17-r1188/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.img'
      bwamem2_index = 's3://{{S3_BUCKET_NAME}}/{{S3_BUCKET_REFDATA_PREFIX}}/genomes/GRCh38_hmf/bwa-mem2_index/2.2.1/'
      gridss_index  = 's3://{{S3_BUCKET_NAME}}/{{S3_BUCKET_REFDATA_PREFIX}}/genomes/GRCh38_hmf/gridss_index/2.13.2/'
      star_index    = 's3://{{S3_BUCKET_NAME}}/{{S3_BUCKET_REFDATA_PREFIX}}/genomes/GRCh38_hmf/star_index/gencode_38/2.7.3a/'
    }

  }

}

process {
  executor = 'awsbatch'
  scratch = '/scratch/'

  // NOTE(SW): using docker.runOptions in 23.10.01 causes `--network host` to be included twice, triggering an error in Docker
  containerOptions = '--network host'

  resourceLabels = {
    return [
      'Stack': 'OncoanalyserStack',
      'JobName': task.process,
    ]
  }

  // NOTE(SW): to be used in dev only
  resourceLimits = [
    cpus: 4,
    memory: 30.GB,
    time: 6.hour,
  ]

  queue = '{{BATCH_JOB_QUEUE_NAME}}'

  withName: 'FASTP' {
    container = '{{FASTP_DOCKER_IMAGE_URI}}'
    cpus = 16
    memory = 30.GB
  }

  withName: 'BWAMEM2_ALIGN' {
    container = '{{BWAMEM2_DOCKER_IMAGE_URI}}'
    cpus = 32
    memory = 60.GB
  }

  withName: 'REDUX' {
    container = '{{REDUX_DOCKER_IMAGE_URI}}'
    cpus = 16
    memory = 120.GB
  }

  withName: 'STAR_ALIGN' {
    container = '{{STAR_ALIGN_IMAGE_URI}}'
    cpus = 8
    memory = 60.GB
  }

  withName: 'SAMTOOLS_SORT' {
    container = '{{SAMTOOLS_DOCKER_IMAGE_URI}}'
    cpus = 8
    memory = 30.GB
  }

  withName: 'SAMBAMBA_MERGE' {
    container = '{{SAMBAMBA_DOCKER_IMAGE_URI}}'
    cpus = 8
    memory = 30.GB
  }

  withName: 'GATK4_MARKDUPLICATES' {
    container = '{{GATK4_MARKDUPLICATES_IMAGE_URI}}'
    cpus = 8
    memory = 30.GB
  }

  withName: 'AMBER' {
    container = '{{AMBER_DOCKER_IMAGE_URI}}'
    cpus = 8
    memory = 30.GB
  }

  withName: 'COBALT' {
    container = '{{COBALT_DOCKER_IMAGE_URI}}'
    cpus = 8
    memory = 30.GB
  }

  withName: 'ESVEE_PREP' {
    container = '{{ESVEE_DOCKER_IMAGE_URI}}'
    errorStrategy = 'retry'
    maxRetries = 1

    cpus =   { task.attempt == 1 ? 16    : 8      }
    memory = { task.attempt == 1 ? 60.GB : 122.GB }
  }

  withName: 'ESVEE_PREP' {
    container = '{{ESVEE_DOCKER_IMAGE_URI}}'
    errorStrategy = 'retry'
    maxRetries = 1

    time = 12.h

    cpus = 16
    memory = { task.attempt == 1 ? 30.GB : 122.GB }
  }

  withName: 'ESVEE_CALL' {
    container = '{{ESVEE_DOCKER_IMAGE_URI}}'
    cpus = 16
    memory = 30.GB
  }

  withName: 'ESVEE_DEPTH_ANNOTATOR' {
    container = '{{ESVEE_DOCKER_IMAGE_URI}}'
    errorStrategy = 'retry'
    maxRetries = 1

    cpus =   { task.attempt == 1 ? 16    : 8      }
    memory = { task.attempt == 1 ? 60.GB : 122.GB }
  }

  withName: '.*:GRIPSS_FILTERING:(?:GERMLINE|SOMATIC)' {
    container = '{{GRIPSS_DOCKER_IMAGE_URI}}'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:SAGE_CALLING:GERMLINE' {
    container = '{{SAGE_DOCKER_IMAGE_URI}}'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:SAGE_CALLING:SOMATIC' {
    container = '{{SAGE_DOCKER_IMAGE_URI}}'
    cpus = 16
    memory = 30.GB
  }

  withName: '.*:SAGE_APPEND:(?:GERMLINE|SOMATIC)' {
    container = '{{SAGE_DOCKER_IMAGE_URI}}'
    cpus = 2
    memory = 14.GB
  }

  withName: '.*:PAVE_ANNOTATION:GERMLINE' {
    container = '{{PAVE_DOCKER_IMAGE_URI}}'
    cpus = 2
    memory = 14.GB
  }

  // NOTE(SW): PAVE somatic uses a significant amount of memory, runtime is usually less than 5-10 minutes

  withName: '.*:PAVE_ANNOTATION:SOMATIC' {
    container = '{{PAVE_DOCKER_IMAGE_URI}}'
    cpus = 4
    memory = 30.GB
  }

  withName: 'PURPLE' {
    container = '{{PURPLE_DOCKER_IMAGE_URI}}'

    errorStrategy = 'retry'
    maxRetries = 1

    cpus =   { task.attempt == 1 ? 4     : 8     }
    memory = { task.attempt == 1 ? 30.GB : 60.GB }
  }

  withName: '.*:LINX_ANNOTATION:(?:GERMLINE|SOMATIC)' {
    container = '{{LINX_DOCKER_IMAGE_URI}}'
    cpus = 1
    memory = 12.GB
  }

  withName: '.*:LINX_PLOTTING:VISUALISER' {
    container = '{{LINX_DOCKER_IMAGE_URI}}'
    errorStrategy = 'retry'
    maxRetries = 1

    cpus = 8
    memory = 60.GB
  }

  withName: '.*:LINX_PLOTTING:REPORT' {
    container = '{{LINXREPORT_DOCKER_IMAGE_URI}}'
    cpus = 1
    memory = 12.GB
  }

  withName: 'BAMTOOLS' {
    container = '{{BAMTOOLS_DOCKER_IMAGE_URI}}'
    cpus = 8
    memory = 30.GB
    time = 24.h
  }

  withName: 'CHORD' {
    container = '{{CHORD_DOCKER_IMAGE_URI}}'
    cpus = 1
    memory = 12.GB
  }

  withName: 'LILAC' {
    container = '{{LILAC_DOCKER_IMAGE_URI}}'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:LILAC_CALLING:EXTRACTCONTIG' {
    container = '{{LILAC_EXTRACT_INDEX_DOCKER_IMAGE_URI}}'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:LILAC_CALLING:REALIGNREADS' {
    container = '{{LILAC_REALIGN_READS_DOCKER_IMAGE_URI}}'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:LILAC_CALLING:SLICEBAM' {
    container = '{{LILAC_SLICE_DOCKER_IMAGE_URI}}'
    cpus = 4
    memory = 30.GB
  }

  withName: 'SIGS' {
    container = '{{SIGS_DOCKER_IMAGE_URI}}'
    cpus = 1
    memory = 12.GB
  }

  withName: 'VIRUSBREAKEND' {
    container = '{{VIRUSBREAKEND_DOCKER_IMAGE_URI}}'
    cpus = 8
    memory = 60.GB
  }

  withName: 'VIRUSINTERPRETER' {
    container = '{{VIRUSINTERPRETER_DOCKER_IMAGE_URI}}'
    cpus = 1
    memory = 12.GB
  }

  withName: 'ISOFOX' {
    container = '{{ISOFOX_DOCKER_IMAGE_URI}}'
    cpus = 8
    memory = 30.GB
  }

  withName: 'CUPPA' {
    container = '{{CUPPA_DOCKER_IMAGE_URI}}'
    cpus = 1
    memory = 12.GB
  }

  withName: 'ORANGE' {
    container = '{{ORANGE_DOCKER_IMAGE_URI}}'
    cpus = 1
    memory = 12.GB
  }

  withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
    container = '{{DUMPSOFTWAREVERSIONS_DOCKER_IMAGE_URI}}'
    cpus = 1
    memory = 12.GB
  }
}
