plugins {
  id 'nf-amazon'
}

aws {
  batch {
    jobRole = '__BATCH_INSTANCE_ROLE__'
    cliPath = '/opt/awscliv2/bin/aws'
    volumes = '/scratch'
  }
}

params {
  genomes {
    GRCh38_umccr {
      fasta           = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/GRCh38_full_analysis_set_plus_decoy_hla.fa"
      fai             = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai"
      dict            = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.dict"
      bwa_index       = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/bwa_index/0.7.17-r1188/"
      bwa_index_image = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/bwa_index_image/0.7.17-r1188/GRCh38_full_analysis_set_plus_decoy_hla.fa.img"
      gridss_index    = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/gridss_index/2.13.2/GRCh38_full_analysis_set_plus_decoy_hla.fa.gridsscache"
    }
  }
}

process {
  executor = 'awsbatch'
  scratch = '/scratch/'

  // NOTE(SW): AWS Batch jobs can only run where there is allocatable memory present on the instances, and this amount
  // is never the total capacity since ECS reserves memory and the system also occpies several hundred MiB. See
  // https://docs.aws.amazon.com/batch/latest/userguide/memory-management.html
  // NOTE(SW): Anything less than a 2.GB buffer appears to prevent Batch jobs from running on target instances

  withName: 'AMBER' {
    queue = 'nextflow-task-8cpu_32gb'
    cpus = 8
    memory = 30.GB
  }

  withName: 'COBALT' {
    queue = 'nextflow-task-8cpu_32gb'
    cpus = 8
    memory = 30.GB
  }

  withName: 'SVPREP_TUMOR' {
    errorStrategy = 'retry'
    maxRetries = 1

    queue =  { task.attempt == 1 ? 'nextflow-task-16cpu_64gb' : 'nextflow-task-16cpu_128gb' }
    cpus =   { task.attempt == 1 ? 16                         : 8                           }
    memory = { task.attempt == 1 ? 60.GB                      : 122.GB                      }
  }

  withName: 'SVPREP_NORMAL' {
    queue = 'nextflow-task-16cpu_32gb'
    cpus = 16
    memory = 30.GB
  }

  withName: '.*:GRIDSS_SVPREP_CALLING:ASSEMBLE' {
    errorStrategy = 'retry'
    maxRetries = 1

    time = 12.h

    queue =  { task.attempt == 1 ? 'nextflow-task-16cpu_32gb' : 'nextflow-task-16cpu_128gb' }
    cpus = 16
    memory = { task.attempt == 1 ? 30.GB                      : 122.GB                      }
  }

  withName: '.*:GRIDSS_SVPREP_CALLING:(PREPROCESS|CALL)' {
    queue = 'nextflow-task-16cpu_32gb'
    cpus = 16
    memory = 30.GB
  }

  withName: '.*:GRIDSS_SVPREP_CALLING:DEPTH_ANNOTATOR' {
    errorStrategy = 'retry'
    maxRetries = 1

    queue =  { task.attempt == 1 ? 'nextflow-task-16cpu_64gb' : 'nextflow-task-16cpu_128gb' }
    cpus =   { task.attempt == 1 ? 16                         : 8                           }
    memory = { task.attempt == 1 ? 60.GB                      : 122.GB                      }
  }

  withName: '.*:GRIPSS_FILTERING:(?:GERMLINE|SOMATIC)' {
    queue = 'nextflow-task-4cpu_32gb'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:SAGE_CALLING:GERMLINE' {
    queue = 'nextflow-task-4cpu_32gb'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:SAGE_CALLING:SOMATIC' {
    queue = 'nextflow-task-16cpu_32gb'
    cpus = 16
    memory = 30.GB
  }

  withName: '.*:SAGE_APPEND:(?:GERMLINE|SOMATIC)' {
    queue = 'nextflow-task-2cpu_16gb'
    cpus = 2
    memory = 14.GB
  }

  withName: '.*:PAVE_ANNOTATION:GERMLINE' {
    queue = 'nextflow-task-2cpu_16gb'
    cpus = 2
    memory = 14.GB
  }

  // NOTE(SW): PAVE somatic uses a significant amount of memory, runtime is usually less than 5-10 minutes

  withName: '.*:PAVE_ANNOTATION:SOMATIC' {
    queue = 'nextflow-task-4cpu_32gb'
    cpus = 4
    memory = 30.GB
  }

  withName: 'PURPLE' {
    errorStrategy = 'retry'
    maxRetries = 1

    queue =  { task.attempt == 1 ? 'nextflow-task-4cpu_32gb' : 'nextflow-task-8cpu_64gb' }
    cpus =   { task.attempt == 1 ? 4                         : 8                         }
    memory = { task.attempt == 1 ? 30.GB                     : 60.GB                     }
  }

  withName: '.*:LINX_ANNOTATION:(?:GERMLINE|SOMATIC)' {
    queue = 'nextflow-task-2cpu_16gb'
    cpus = 2
    memory = 14.GB
  }

  withName: '.*:LINX_PLOTTING:VISUALISER' {
    queue = 'nextflow-task-8cpu_32gb'
    cpus = 8
    memory = 30.GB
  }

  withName: '.*:LINX_PLOTTING:GPGR' {
    queue = 'nextflow-task-2cpu_16gb'
    cpus = 1
    memory = 14.GB
  }

  withName: 'BAMTOOLS' {

    // TODO(SW): can use much less memory for this process; create new CPU queue or determine whether performance over fusion is good enough for nextflow-task-16cpu_32gb

    queue = 'nextflow-task-8cpu_32gb'
    cpus = 8
    memory = 30.GB
    time = 24.h
  }

  withName: 'CHORD' {
    queue = 'nextflow-task-2cpu_16gb'
    cpus = 1
    memory = 14.GB
  }

  withName: 'LILAC' {
    queue = 'nextflow-task-4cpu_32gb'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:LILAC_CALLING:EXTRACTCONTIG' {
    queue = 'nextflow-task-4cpu_32gb'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:LILAC_CALLING:REALIGNREADS' {
    queue = 'nextflow-task-4cpu_32gb'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:LILAC_CALLING:SLICEBAM' {
    container = 'docker.io/scwatts/samtools:1.15.1--h1170115_0'

    queue = 'nextflow-task-4cpu_32gb'
    cpus = 4
    memory = 30.GB
  }

  withName: 'SIGS' {
    queue = 'nextflow-task-2cpu_16gb'
    cpus = 1
    memory = 14.GB
  }

  withName: 'VIRUSBREAKEND' {
    queue = 'nextflow-task-8cpu_64gb'
    cpus = 8
    memory = 60.GB
  }

  withName: 'VIRUSINTERPRETER' {
    queue = 'nextflow-task-2cpu_16gb'
    cpus = 1
    memory = 14.GB
  }

  withName: 'ISOFOX' {
    queue = 'nextflow-task-8cpu_32gb'
    cpus = 8
    memory = 30.GB
  }

  withName: 'CUPPA' {
    queue = 'nextflow-task-2cpu_16gb'
    cpus = 1
    memory = 14.GB
  }

  withName: 'SAMTOOLS_FLAGSTAT' {
    container = 'docker.io/scwatts/samtools:1.16.1--h6899075_1'

    queue = 'nextflow-task-2cpu_16gb'
    cpus = 2
    memory = 14.GB
  }

  withName: 'ORANGE' {
    queue = 'nextflow-task-2cpu_16gb'
    cpus = 1
    memory = 14.GB
  }

  withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
    queue = 'nextflow-task-2cpu_16gb'
    cpus = 1
    memory = 14.GB
  }

}
