plugins {
  id 'nf-amazon'
}

fusion {
  enabled = true
}

wave {
  enabled = true
}

aws {
  batch {
    jobRole = '__BATCH_INSTANCE_ROLE__'
    volumes = '/mnt/local_ephemeral/:/tmp/'
  }
}

params {

  max_fastq_records = 250000000

  genomes {
    GRCh38_umccr {
      fasta         = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/GRCh38_full_analysis_set_plus_decoy_hla.fa"
      fai           = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai"
      dict          = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.dict"
      bwamem2_index = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/bwa-mem2_index/2.2.1/"
      gridss_index  = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/gridss_index/2.13.2/"
      star_index    = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/star_index/gencode_38/2.7.3a/"
    }
  }

}

process {
  executor = 'awsbatch'
  scratch = false

  // NOTE(SW): using docker.runOptions in 23.10.01 causes `--network host` to be included twice, triggering an error in Docker
  containerOptions = '--network host'

  resourceLabels = {
    return [
      'Stack': 'NextflowStack',
      'SubStack': 'OncoanalyserStack',
      'RunId': '__PORTAL_RUN_ID__',
      'JobName': task.process,
    ]
  }

  withName: 'FASTP' {
    queue = 'nextflow-task-ondemand-16cpu_32gb-nvme_ssd'
    cpus = 16
    memory = 30.GB
  }

  withName: 'BWAMEM2_ALIGN' {
    queue = 'nextflow-task-ondemand-32cpu_64gb-nvme_ssd'
    cpus = 32
    memory = 60.GB
  }

  withName: 'MARKDUPS' {
    queue = 'nextflow-task-ondemand-16cpu_128gb-nvme_ssd'
    cpus = 16
    memory = 120.GB
  }

  withName: 'STAR_ALIGN' {
    queue = 'nextflow-task-ondemand-8cpu_64gb-nvme_ssd'
    cpus = 8
    memory = 60.GB
  }

  withName: 'SAMTOOLS_SORT' {
    queue = 'nextflow-task-ondemand-8cpu_32gb-nvme_ssd'
    cpus = 8
    memory = 30.GB
  }

  withName: 'SAMBAMBA_MERGE' {
    queue = 'nextflow-task-ondemand-8cpu_32gb-nvme_ssd'
    cpus = 8
    memory = 30.GB
  }

  withName: 'GATK4_MARKDUPLICATES' {
    queue = 'nextflow-task-ondemand-8cpu_32gb-nvme_ssd'
    cpus = 8
    memory = 30.GB
  }

  withName: 'AMBER' {
    queue = 'nextflow-task-ondemand-8cpu_32gb-nvme_ssd'
    cpus = 8
    memory = 30.GB
  }

  withName: 'COBALT' {
    queue = 'nextflow-task-ondemand-8cpu_32gb-nvme_ssd'
    cpus = 8
    memory = 30.GB
  }

  withName: 'SVPREP_TUMOR' {
    errorStrategy = 'retry'
    maxRetries = 1

    queue =  { task.attempt == 1 ? 'nextflow-task-ondemand-16cpu_64gb-nvme_ssd' : 'nextflow-task-ondemand-16cpu_128gb-nvme_ssd' }
    cpus =   { task.attempt == 1 ? 16                                           : 8                                             }
    memory = { task.attempt == 1 ? 60.GB                                        : 122.GB                                        }
  }

  withName: 'SVPREP_NORMAL' {
    queue = 'nextflow-task-ondemand-16cpu_32gb-nvme_ssd'
    cpus = 16
    memory = 30.GB
  }

  withName: '.*:GRIDSS_SVPREP_CALLING:ASSEMBLE' {
    errorStrategy = 'retry'
    maxRetries = 1

    time = 12.h

    queue =  { task.attempt == 1 ? 'nextflow-task-ondemand-16cpu_32gb-nvme_ssd' : 'nextflow-task-ondemand-16cpu_128gb-nvme_ssd' }
    cpus = 16
    memory = { task.attempt == 1 ? 30.GB                                        : 122.GB                                        }
  }

  withName: '.*:GRIDSS_SVPREP_CALLING:(PREPROCESS|CALL)' {
    queue = 'nextflow-task-ondemand-16cpu_32gb-nvme_ssd'
    cpus = 16
    memory = 30.GB
  }

  withName: '.*:GRIDSS_SVPREP_CALLING:DEPTH_ANNOTATOR' {
    errorStrategy = 'retry'
    maxRetries = 1

    queue =  { task.attempt == 1 ? 'nextflow-task-ondemand-16cpu_64gb-nvme_ssd' : 'nextflow-task-ondemand-16cpu_128gb-nvme_ssd' }
    cpus =   { task.attempt == 1 ? 16                                           : 8                                             }
    memory = { task.attempt == 1 ? 60.GB                                        : 122.GB                                        }
  }

  withName: '.*:GRIPSS_FILTERING:(?:GERMLINE|SOMATIC)' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-nvme_ssd'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:SAGE_CALLING:GERMLINE' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-nvme_ssd'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:SAGE_CALLING:SOMATIC' {
    queue = 'nextflow-task-ondemand-16cpu_32gb-nvme_ssd'
    cpus = 16
    memory = 30.GB
  }

  withName: '.*:SAGE_APPEND:(?:GERMLINE|SOMATIC)' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-nvme_ssd'
    cpus = 2
    memory = 14.GB
  }

  withName: '.*:PAVE_ANNOTATION:GERMLINE' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-nvme_ssd'
    cpus = 2
    memory = 14.GB
  }

  // NOTE(SW): PAVE somatic uses a significant amount of memory, runtime is usually less than 5-10 minutes

  withName: '.*:PAVE_ANNOTATION:SOMATIC' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-nvme_ssd'
    cpus = 4
    memory = 30.GB
  }

  withName: 'PURPLE' {
    errorStrategy = 'retry'
    maxRetries = 1

    queue =  { task.attempt == 1 ? 'nextflow-task-ondemand-4cpu_32gb-nvme_ssd' : 'nextflow-task-ondemand-8cpu_64gb-nvme_ssd' }
    cpus =   { task.attempt == 1 ? 4                                           : 8                                           }
    memory = { task.attempt == 1 ? 30.GB                                       : 60.GB                                       }
  }

  withName: '.*:LINX_ANNOTATION:(?:GERMLINE|SOMATIC)' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: '.*:LINX_PLOTTING:VISUALISER' {
    errorStrategy = 'retry'
    maxRetries = 1

    queue = 'nextflow-task-ondemand-8cpu_64gb-nvme_ssd'
    cpus = 8
    memory = 60.GB
  }

  withName: '.*:LINX_PLOTTING:REPORT' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'BAMTOOLS' {

    // TODO(SW): can use much less memory for this process; create new CPU queue or determine whether performance over fusion is good enough for nextflow-task-16cpu_32gb

    queue = 'nextflow-task-ondemand-8cpu_32gb-nvme_ssd'
    cpus = 8
    memory = 30.GB
    time = 24.h
  }

  withName: 'CHORD' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'LILAC' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-nvme_ssd'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:LILAC_CALLING:EXTRACTCONTIG' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-nvme_ssd'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:LILAC_CALLING:REALIGNREADS' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-nvme_ssd'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:LILAC_CALLING:SLICEBAM' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-nvme_ssd'
    cpus = 4
    memory = 30.GB
  }

  withName: 'SIGS' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'VIRUSBREAKEND' {
    queue = 'nextflow-task-ondemand-8cpu_64gb-nvme_ssd'
    cpus = 8
    memory = 60.GB
  }

  withName: 'VIRUSINTERPRETER' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'ISOFOX' {
    queue = 'nextflow-task-ondemand-8cpu_32gb-nvme_ssd'
    cpus = 8
    memory = 30.GB
  }

  withName: 'CUPPA' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'SAMTOOLS_FLAGSTAT' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-nvme_ssd'
    cpus = 2
    memory = 14.GB
  }

  withName: 'ORANGE' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

}
