plugins {
  id 'nf-amazon'
}

aws {
  batch {
    jobRole = '__BATCH_INSTANCE_ROLE__'
    cliPath = '/opt/awscliv2/bin/aws'
    volumes = '/scratch'
  }
}

process {
  executor = 'awsbatch'
  scratch = '/scratch/'

  withName: 'BOLT_SMLV_SOMATIC_RESCUE' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: 'BOLT_SMLV_SOMATIC_ANNOTATE' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-ebs'
    cpus = 4
    memory = 30.GB
  }

  withName: 'BOLT_SMLV_SOMATIC_FILTER' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: '.*PAVE_SOMATIC' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: 'BOLT_SMLV_SOMATIC_REPORT' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-ebs'
    cpus = 4
    memory = 30.GB
  }

  withName: 'BOLT_SMLV_GERMLINE_PREPARE' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: 'BOLT_SMLV_GERMLINE_REPORT' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-ebs'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:GRIPSS_FILTERING:(?:GERMLINE|SOMATIC)' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-ebs'
    cpus = 4
    memory = 30.GB
  }

  withName: 'BOLT_SV_SOMATIC_ANNOTATE' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-ebs'
    cpus = 4
    memory = 30.GB
  }

  withName: 'BOLT_SV_SOMATIC_PRIORITISE' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: 'PURPLE' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-ebs'
    cpus = 4
    memory = 30.GB
  }

  withName: 'BOLT_OTHER_PURPLE_BAF_PLOT' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: 'BOLT_OTHER_CANCER_REPORT' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: 'BOLT_OTHER_MULTIQC_REPORT' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: '.*:LINX_ANNOTATION:(?:GERMLINE|SOMATIC)' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: '.*:LINX_PLOTTING:VISUALISER' {
    queue = 'nextflow-task-ondemand-8cpu_32gb-ebs'
    cpus = 8
    memory = 30.GB
  }

  withName: '.*:LINX_PLOTTING:GPGR' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

}
