plugins {
  id 'nf-amazon'
}

fusion {
  enabled = true
}

wave {
  enabled = true
}

aws {
  batch {
    jobRole = '__BATCH_INSTANCE_ROLE__'
    volumes = '/mnt/local_ephemeral/:/tmp/'
  }
}

// NOTE(SW): required for FusionFS v2.1 to run jobs locally and use permissions granted by IAM roles
docker.runOptions = '--network host'

process {
  executor = 'awsbatch'
  scratch = false

  // NOTE(SW): AWS Batch jobs can only run where there is allocatable memory present on the instances, and this amount
  // is never the total capacity since ECS reserves memory and the system also occpies several hundred MiB. See
  // https://docs.aws.amazon.com/batch/latest/userguide/memory-management.html
  // NOTE(SW): Anything less than a 2.GB buffer appears to prevent Batch jobs from running on target instances

  withName: 'BOLT_SMLV_SOMATIC_RESCUE' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'BOLT_SMLV_SOMATIC_ANNOTATE' {
    queue = 'nextflow-task-4cpu_32gb-spot'
    cpus = 4
    memory = 30.GB
  }

  withName: 'BOLT_SMLV_SOMATIC_FILTER' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'BOLT_SMLV_SOMATIC_REPORT' {
    queue = 'nextflow-task-4cpu_32gb-spot'
    cpus = 4
    memory = 30.GB
  }

  withName: 'BOLT_SMLV_GERMLINE_PREPARE' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'BOLT_SMLV_GERMLINE_REPORT' {
    queue = 'nextflow-task-4cpu_32gb-spot'
    cpus = 4
    memory = 30.GB
  }

  withName: 'BOLT_SV_SOMATIC_ANNOTATE' {
    queue = 'nextflow-task-4cpu_32gb-spot'
    cpus = 4
    memory = 30.GB
  }

  withName: 'BOLT_SV_SOMATIC_PRIORITISE' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'PURPLE' {
    queue = 'nextflow-task-4cpu_32gb-spot'
    cpus = 4
    memory = 30.GB
  }

  withName: 'BOLT_OTHER_PURPLE_BAF_PLOT' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'BOLT_OTHER_CANCER_REPORT' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'BOLT_OTHER_MULTIQC_REPORT' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: '.*:LINX_ANNOTATION:(?:GERMLINE|SOMATIC)' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: '.*:LINX_PLOTTING:VISUALISER' {
    queue = 'nextflow-task-8cpu_32gb-spot'
    cpus = 8
    memory = 30.GB
  }

  withName: '.*:LINX_PLOTTING:GPGR' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }
}
