plugins {
  id 'nf-amazon'
}

fusion {
  enabled = true
}

wave {
  enabled = true
}

aws {
  batch {
    jobRole = 'arn:aws:iam::843407916570:role/OncoanalyserStack-OncoanalyserTaskBatchInstanceRol-DXWG0PGDIBDY'
    volumes = '/mnt/local_ephemeral/:/tmp/'
  }
}

process {
  executor = 'awsbatch'
  scratch = false

  // NOTE(SW): AWS Batch jobs can only run where there is allocatable memory present on the instances, and this amount
  // is never the total capacity since ECS reserves memory and the system also occpies several hundred MiB. See
  // https://docs.aws.amazon.com/batch/latest/userguide/memory-management.html
  // NOTE(SW): Anything less than a 2.GB buffer appears to prevent Batch jobs from running on target instances

  withName: 'AMBER' {
    queue = 'nextflow-task-8cpu_32gb-spot'
    cpus = 8
    memory = 30.GB
  }

  withName: 'COBALT' {
    queue = 'nextflow-task-8cpu_32gb-spot'
    cpus = 8
    memory = 30.GB
  }

  withName: 'SVPREP_TUMOR' {
    queue = 'nextflow-task-16cpu_32gb-spot'
    cpus = 16
    memory = 30.GB
  }

  withName: 'SVPREP_NORMAL' {
    queue = 'nextflow-task-16cpu_32gb-spot'
    cpus = 16
    memory = 30.GB
  }

  withName: 'GRIDSS_PREPROCESS' {
    queue = 'nextflow-task-16cpu_32gb-spot'
    cpus = 16
    memory = 30.GB
  }

  withName: 'GRIDSS_ASSEMBLE' {
    queue = 'nextflow-task-16cpu_32gb-spot'
    cpus = 16
    memory = 30.GB
  }

  withName: 'GRIDSS_CALL' {
    queue = 'nextflow-task-16cpu_32gb-spot'
    cpus = 16
    memory = 30.GB
  }

  withName: 'SVPREP_DEPTH_ANNOTATOR' {
    queue = 'nextflow-task-16cpu_32gb-spot'
    cpus = 16
    memory = 30.GB
  }

  withName: 'GRIPSS.*' {
    queue = 'nextflow-task-4cpu_32gb-spot'
    cpus = 4
    memory = 30.GB
  }

  withName: 'SAGE_GERMLINE' {
    queue = 'nextflow-task-4cpu_32gb-spot'
    cpus = 4
    memory = 30.GB
  }

  withName: 'SAGE_SOMATIC' {
    queue = 'nextflow-task-16cpu_32gb-spot'
    cpus = 16
    memory = 30.GB
  }

  withName: 'PAVE_GERMLINE' {
    queue = 'nextflow-task-2cpu_16gb-spot'
    cpus = 2
    memory = 14.GB
  }

  // NOTE(SW): PAVE somatic uses a significant amount of memory, runtime is usually less than 5-10 minutes
  // TODO(SW): check whether allocating less memory is respected
  withName: 'PAVE_SOMATIC' {
    queue = 'nextflow-task-4cpu_32gb-spot'
    cpus = 4
    memory = 30.GB
  }

  withName: 'PURPLE' {
    queue = 'nextflow-task-4cpu_32gb-spot'
    cpus = 4
    memory = 30.GB
  }

  withName: 'LINX_GERMLINE|LINX_SOMATIC' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'LINX_VISUALISER' {
    queue = 'nextflow-task-8cpu_32gb-spot'
    cpus = 8
    memory = 30.GB
  }

  withName: 'GPGR_LINX' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'STAR' {
    queue = 'nextflow-task-8cpu_64gb-spot'
    cpus = 8
    memory = 60.GB
  }

  withName: 'SAMTOOLS_SORT' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'GATK4_MARKDUPLICATES' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'ISOFOX' {
    queue = 'nextflow-task-8cpu_32gb-spot'
    cpus = 8
    memory = 30.GB
  }

  withName: 'BAMTOOLS' {

    // TODO(SW): can use much less memory for this process; create new CPU queue or determine whether performance over fusion is good enough for nextflow-task-16cpu_32gb-spot

    queue = 'nextflow-task-8cpu_32gb-spot'
    cpus = 8
    memory = 30.GB
    time = 24.h
  }

  withName: 'VIRUSBREAKEND' {
    queue = 'nextflow-task-8cpu_64gb-spot'
    cpus = 8
    memory = 60.GB
  }

  withName: 'VIRUSINTERPRETER' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'CUPPA.*' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }
}

params {
  genomes {
    GRCh38_umccr {
      fasta           = "s3://umccr-research-dev/stephen/oncoanalyser_data/genomes/GRCh38_umccr/GRCh38_full_analysis_set_plus_decoy_hla.fa"
      fai             = "s3://umccr-research-dev/stephen/oncoanalyser_data/genomes/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai"
      dict            = "s3://umccr-research-dev/stephen/oncoanalyser_data/genomes/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.dict"
      bwa_index       = "s3://umccr-research-dev/stephen/oncoanalyser_data/genomes/GRCh38_umccr/bwa_index/0.7.17-r1188/"
      bwa_index_image = "s3://umccr-research-dev/stephen/oncoanalyser_data/genomes/GRCh38_umccr/bwa_index_image/0.7.17-r1188/GRCh38_full_analysis_set_plus_decoy_hla.fa.img"
      gridss_index    = "s3://umccr-research-dev/stephen/oncoanalyser_data/genomes/GRCh38_umccr/gridss_index/2.13.2/GRCh38_full_analysis_set_plus_decoy_hla.fa.gridsscache"
      star_index      = "s3://umccr-research-dev/stephen/oncoanalyser_data/genomes/GRCh38_umccr/star_index/gencode_38/2.7.3a/"
    }
  }
}
