plugins {
  id 'nf-amazon'
}

fusion {
  enabled = true
}

wave {
  enabled = true
}

aws {
  batch {
    jobRole = '__BATCH_INSTANCE_ROLE__'
    volumes = '/mnt/local_ephemeral/:/tmp/'
  }
}

// NOTE(SW): required for FusionFS v2.1 to run jobs locally and use permissions granted by IAM roles
docker.runOptions = '--network host'

process {
  executor = 'awsbatch'
  scratch = false

  // NOTE(SW): AWS Batch jobs can only run where there is allocatable memory present on the instances, and this amount
  // is never the total capacity since ECS reserves memory and the system also occpies several hundred MiB. See
  // https://docs.aws.amazon.com/batch/latest/userguide/memory-management.html
  // NOTE(SW): Anything less than a 2.GB buffer appears to prevent Batch jobs from running on target instances

  withName: 'STAR' {
    queue = 'nextflow-task-8cpu_64gb-spot'
    cpus = 8
    memory = 60.GB
  }

  withName: 'SAMTOOLS_SORT' {
    queue = 'nextflow-task-4cpu_16gb-spot'
    cpus = 4
    memory = 14.GB
  }

  withName: 'GATK4_MARKDUPLICATES' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }

  withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
    executor = 'local'
    cpus = 1
    memory = 12.GB
  }
}
